<div class="container" data-controller="select-by-company select-by-job-type">
  <div class="search-container d-flex justify-content-center align-items-center">
    <%= render 'search' %>
  </div>
    <div class="row" data-controller="job-index-toggle">

      <%# LHS Section Divider %>
      <div class="col-sm-3" id="jobs-index-left-section" data-job-index-toggle-target="leftSection">

        <%# LHS Section - Title and Search  %>
        <div class="d-flex justify-content-between">
          <h6 id="jobs-index-left-section-title"><%= @jobs.count %> Jobs</h6>
        </div>

        <%# TODO: Add icons %>
        <h5 class="mt-4 mb-3"><i class="fa-solid fa-building-user"></i> Companies</h5>
        <ul id="companies-select">
          <button class="btn mb-2 d-none" data-select-by-company-target="button" data-action="click->select-by-company#revealCompanies">Show all</button>
          <div data-select-by-company-target="index">
            <% Company.all.each do |company| %>
              <% if Job.where(company: company).any? %>
                <div class="companies-select-item">
                  <label for="<%= company.company_name %>" class="companies-select-item-label">
                  <input class="companies-select-item-checkbox" type="checkbox" name="<%= company.company_name %>" id="<%= company.company_name %>" <%= params[:company] && params[:company].downcase.include?(company.company_name.downcase) ? "checked" : "" %> data-action="change->select-by-company#searchByCompany" data-select-by-company-target="company">
                  <%= company.company_name %>
                  </label><br>
                </div>
              <% end %>
            <% end %>
          </div>
        </ul>

        <%# TODO: Add icons %>
        <%# LHS Section - Search by Job Type %>
        <h5 class="mt-4 mb-3"><i class="fa-solid fa-person-chalkboard"></i> Job Roles</h5>
        <ul id="job-types-select">
          <div class="job-types-select-item">

            <label for="Full Stack" class="job-types-select-item-label">
            <input class="job-types-select-item-checkbox" type="checkbox" name="Full Stack" id="full-stack" data-action="change->select-by-job-type#searchByJobType" data-select-by-job-type-target="type">
            Full Stack
            </label>

            <br>

            <label for="Back End" class="job-types-select-item-label">
            <input class="job-types-select-item-checkbox" type="checkbox" name="Back End" id="back-end" data-action="change->select-by-job-type#searchByJobType" data-select-by-job-type-target="type">
            Back-end
            </label>

            <br>

            <label for="Front End" class="job-types-select-item-label">
            <input class="job-types-select-item-checkbox" type="checkbox" name="Front End" id="front-end" data-action="change->select-by-job-type#searchByJobType" data-select-by-job-type-target="type">
            Front-end
            </label>

            <br>

          </div>
        </ul>

        <%# LHS Section - Search by Salary Range %>
        <%# <h5 class="mt-4 mb-3"><i class="fa-solid fa-money-bill-trend-up"></i> Salary Bands</h5>
        <ul id="salary-range" data-select-by-company-target="salary" data-action="click->select-by-company#searchBySalary">
          <label for="35000">
            <input type="radio" name="35000" id="35000"> < 35,000
          </label><br>
          <label for="50000">
            <input type="radio" name="50000" id="50000"> 36,000 < 50,000
          </label><br>
          <label for="65000">
            <input type="radio" name="65000" id="65000"> 51,000 < 65,000
          </label><br>
          <label for="80000">
            <input type="radio" name="80000" id="80000"> 66,000 < 80,000
          </label><br>
          <label for="99000">
            <input type="radio" name="99000" id="99000"> 81,000 < 99,000
          </label><br>
          <label for="500000">
            <input type="radio" name="500000" id="500000"> > 100,000
          </label><br>
        </ul> %>
      </div>

      <%# RHS Section Divider %>
      <div class="col-sm-9 p-0" id="jobs-index-right-section" data-job-index-toggle-target="rightSection">
        <div class="sticky-top bg-white">
          <%= form_tag apply_jobs_path, method: :post do %>
            <div class="d-flex justify-content-between align-items-center pt-1">
              <div class="d-flex align-items-center" data-action="click->job-index-toggle#toggleView" data-job-index-toggle-target="toggleButton1">
                <i class="fa-solid fa-circle-left"></i>
                <p class="my-0 ms-1">Hide Categories</p>
              </div>
              <div class="d-flex align-items-center d-none" data-action="click->job-index-toggle#toggleView" data-job-index-toggle-target="toggleButton2">
                <i class="fa-solid fa-circle-right"></i>
                <p class="my-0 ms-1">Show Categories</p>
              </div>
              <div>
                <%= submit_tag "Apply to 0 Jobs", id: "apply-button", "data-target": "job-index-toggle.applyButton", class: "btn btn-apply" %>
              </div>
            </div>

            <%# RHS Section - Job Table Headers %>
              <div class="row">
                <div class="col-12">
                  <div class="card job-list-header">
                    <div class="card-body">
                      <div class="row text-center">
                        <div class="col">Company</div>
                        <div class="col">Role</div>
                        <div class="col-2 d-none" data-job-index-toggle-target="newColumn1">Description</div>
                        <div class="col">Salary</div>
                        <div class="col">Status</div>
                        <div class="col">Deadline</div>
                        <div class="col">CV</div>
                        <div class="col">Details</div>
                        <div class="col">Save</div>
                        <div class="col">Select</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <%# RHS Section - Job Table %>
            <div class="job-cards-container pt-0" data-controller="load-more">
              <% @initial_jobs.each do |job| %>
                <div class="row mb-3" data-select-by-company-target="companyRow" data-select-by-job-type-target="jobRow">
                  <div class="col-12">
                    <div class="card job-card">
                      <div class="card-body">
                        <div class="row text-center">
                          <div class="col card-logo"><%= image_tag("https://logo.clearbit.com/#{job.company.company_website_url}?size=60", onerror: "this.src='https://i.pinimg.com/736x/ec/d9/c2/ecd9c2e8ed0dbbc96ac472a965e4afda.jpg'") %></div>
                          <div class="col role"><%= link_to job.job_title.truncate(30), job_path(job) %></div>
                          <div class="col-2 d-none job-description-small" data-job-index-toggle-target="newColumn2"><%= job.job_description.truncate(90) %></div>
                          <div class="col salaryBudget">£<%= number_with_delimiter(job.salary, :delimiter => ',') %></div>
                          <div class="col">
                            <% if (Time.now.next_day(7)) >= job.application_deadline %>
                              <button class="btn btn-closing-soon">CLOSING SOON</button>
                            <% elsif Time.now < job.application_deadline %>
                              <button class="btn btn-status">OPEN</button>
                            <% else %>
                              <button class="btn btn-closed">CLOSED</button>
                            <% end %>
                          </div>
                          <div class="col"><%= job.application_deadline.strftime("%d/%m") %></div>
                          <div class="col ">
                            <% if job.application_criteria["resume"].any? %>
                              YES
                            <% else %>
                              NO
                            <% end %>
                          </div>
                          <div class="col">
                            <%= link_to job.job_posting_url, target: "_blank" do %>
                              <i class="fa-solid fa-external-link-alt"></i>
                            <% end %>
                          </div>
                          <div class="col ">
                            <% if SavedJob.where(job_id: job.id).present? %>
                              <i class="fa-solid fa-heart saved-job-heart-icon"></i>
                            <% else %>
                              <%= link_to job_saved_jobs_path(job), data: {turbo_method: :post} do %>
                                <i class="fa-regular fa-heart not-saved-job-heart-icon"></i>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="col">
                            <label class="custom-checkbox">
                              <%= check_box_tag "job_ids[]", job.id, false, id: "job_#{job.id}" %>
                              <span class="checkmark"></span>
                            </label>
                          </div>
                          <%# <div class="col text-center submit"><input type="checkbox"></div> %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div data-load-more-target="remaining" class="d-none">
              <% @remaining_jobs.each do |job| %>
                <div class="row mb-3" data-select-by-company-target="companyRow" data-select-by-job-type-target="jobRow">
                  <div class="col-12">
                    <div class="card job-card">
                      <div class="card-body">
                        <div class="row text-center">
                          <div class="col card-logo"><%= image_tag("https://logo.clearbit.com/#{job.company.company_website_url}?size=60", onerror: "this.src='https://i.pinimg.com/736x/ec/d9/c2/ecd9c2e8ed0dbbc96ac472a965e4afda.jpg'") %></div>
                            <div class="col role"><%= link_to job.job_title.truncate(30), job_path(job) %></div>
                          <div class="col salaryBudget">£<%= number_with_delimiter(job.salary, :delimiter => ',') %></div>
                          <div class="col">
                            <% if (Time.now.next_day(7)) >= job.application_deadline %>
                              <button class="btn btn-closing-soon">CLOSING SOON</button>
                            <% elsif Time.now < job.application_deadline %>
                              <button class="btn btn-status">OPEN</button>
                            <% else %>
                              <button class="btn btn-closed">CLOSED</button>
                            <% end %>
                          </div>
                          <div class="col"><%= job.application_deadline.strftime("%d/%m") %></div>
                          <div class="col ">
                            <% if job.application_criteria["resume"].any? %>
                              YES
                            <% else %>
                              NO
                            <% end %>
                          </div>
                          <div class="col">
                            <%= link_to job.job_posting_url, target: "_blank" do %>
                              <i class="fa-solid fa-external-link-alt"></i>
                            <% end %>
                          </div>
                          <div class="col ">
                            <% if SavedJob.where(job_id: job.id).present? %>
                              <i class="fa-solid fa-heart saved-job-heart-icon"></i>
                            <% else %>
                              <%= link_to job_saved_jobs_path(job), data: {turbo_method: :post} do %>
                                <i class="fa-regular fa-heart not-saved-job-heart-icon"></i>
                              <% end %>
                            <% end %>
                          </div>
                          <% @jobs.each do |job| %>
                            <div class="col">
                              <%= check_box_tag "job_ids[]", job.id, false, class: "job-checkbox", "data-action": "change->job-index-toggle#updateButton", "data-target": "job-index-toggle.jobCheckbox" %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="d-flex justify-content-start">
              <button data-action="click->load-more#showMore" data-load-more-target="button" class="btn btn-cheddar-secondary">Show More</button>
            </div>
          </div>

      <div data-controller="new-job-form">
        <button id="btn-add-job" class="d-none" data-action="click->new-job-form#displayForm" data-new-job-form-target="button">Add a Job</button>
        <%= render 'form', job: @job %>
      </div>
    </div>
  </div>
</div>
