<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <%= render 'search' %>

      <h3>All Jobs</h3>
        <%= render 'jobs_header' %>

        <% if params[:query].present? %>
          <% @results.each do | result | %>
            <% if result.searchable.is_a? Job %>
              <%= render 'job_card', job: Job.find(result.searchable_id) %>
            <% end %>
          <% end %>

        <% else %>
          <%= render 'job_card' %>
        <% end %>

        <div data-controller="new-job-form">
          <button data-action="click->new-job-form#displayForm" data-new-job-form-target="button">Add a Job</button>
          <%= render 'form', job: @job %>
        </div>
    </div>
  </div>
</div>
