<h3>Job #<%= @job.id %></h3>

<p>Company: <%= @job.company.company_name %></p>
<p>Job title: <%= @job.job_title %></p>
<p>Job description: <%= @job.job_description %></p>
<p>Salary: <%= @job.salary %></p>
