<h3>Job #<%= @job.id %></h3>

<p>Company: <%= @job.company.company_name %></p>
<p>Job title: <%= @job.job_title %></p>
<p>Job description: <%= @job.job_description %></p>
<p>Salary: <%= @job.salary %></p>

<%= link_to 'Apply to this job', job_job_applications_path %>
<%# Above Line does not work yet  %>
