<div class="container">
  <div class="align-items-center">
    <div id="profile-main-section">
      <div class="col-md-6" >
        <% if current_user.photo.key %>
          <%= image_tag current_user.photo, class: "img-thumbnail rounded-circle", width: '200', height: '200' %>
        <% else %>
          <%= image_tag "avatar_default.png", class: "img-thumbnail rounded-circle", width: '200', height: '200' %>
        <% end %>
      </div>
      <div class="col">
        <div class="text-md-9 w-70">
          <div class="d-flex align-items-center mb-3">
            <h2 class="m-0"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h2>
            <div class="m-2"> <!-- Apply margin as needed -->
              <%= link_to current_user.linkedin_profile do %>
                <i class="fab fa-linkedin fa-2xl" style="color: #0077b5;"></i>
              <% end %>
            </div>
            <%= link_to edit_user_registration_path(current_user), data: {turbo_method: :post}, id: "btn-edit-info" do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
          </div>
          <% if current_user.email.present? %>
            <p>My email: <%= current_user.email %></p>
          <% end %>
          <% if current_user.phone_number.present? %>
            <p>My phone number: <%= current_user.phone_number %></p>
          <% end %>
          <% if current_user.address_second.present? %>
            <p>My address:
            <%= current_user.address_first %>,
            <%= current_user.address_second %>,
            <%= current_user.city %> <%= current_user.post_code %></p>
          <% else %>
            <p>My address:
            <%= current_user.address_first %>,
            <%= current_user.city %> <%= current_user.post_code %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" id="profile-second-section">
  <div class="col-md-6">
    <div id="profile-second-section-sub-left" class="m-2 p-4 shadow">
      <div id="education-info-title">
        <h5>My Education Information</h5>
        <%= link_to new_education_path(current_user), data: {turbo_method: :post}, id: "btn-add-educ" do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      </div>
      <% if current_user.educations.present? %>
        <p><%= current_user.educations.first.degree %> from <%= current_user.educations.first.university %></p>
      <% end %>
      <%# <h5>My Documents</h5> %>
    </div>

  </div>

  <div class="col-md-6">
    <div id="profile-second-section-sub-right" class="m-2 p-4 shadow">
      <h5>My Active Applications</h5>
      <% @job_applications.each do |application| %>
        <div>
          <div class= "border p-1 my-3 ">
          Status: <%= application.status %> |
          <% if application.job.company.company_website_url.present? %> <!-- If the company website url is present, then display the company name as a link -->

            <%= application.job.job_title %> at <a href="<%= application.job.company.company_website_url %>" target="_blank"><%= application.job.company.company_name %></a>
          <% else %>
            <%= application.job.job_title %> at <%= application.job.company.company_name %>
          <% end %>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
