<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 id="my-application-index-title">My Job Applications</h3>
      <div>
        <% @job_applications.each do |application| %>
          <div class="d-flex justify-content between align-items-start" style="gap: 2 rem;">
          <p>
            Application Status: <%= application.status %> |
            <% if application.job.company.company_website_url.present?%>
              Job: <%= application.job.job_title %> at <a href="<%=application.job.company.company_website_url %> " target="_blank"> <%= application.job.company.company_name %> </a>

            <% else %>
              Job: <%= application.job.job_title %> at <%= application.job.company.company_name %>
            <% end %>
          </p>
            <% if application.screenshot.attached? %>
              <div style="height: 30rem; width: 45rem; background-image: url('<%= cl_image_path application.screenshot.key if application.screenshot.attached? %>'); background-size: contain; background-repeat: no-repeat;">
                  <%# cl_image_path application.screenshot.key %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
