<% @job_applications.each do |application| %>
  <div class="my-applications-card">
    <div class="my-applications-details">
      <ul>
        <li><strong>Position:</strong> <%= application.job.job_title %> at <a href="<%=application.job.company.company_website_url %> " target="_blank"> <%= application.job.company.company_name %> </a></li>
        <li><strong>Description:</strong> <%= application.job.job_description %></li>
        <li><strong>Applications Close:</strong> <%= application.job.application_deadline.strftime('%d %B %Y') %></li>
        <li><strong>Application Status:</strong> <%= application.status %></li>
      </ul>
    </div>
    <div class="my-applications-screenshot">
      <%= image_tag(cl_image_path application.screenshot.key) if application.screenshot.attached? %>
    </div>
  </div>
<% end %>
