<h3>Add your Education</h3>

<%= simple_form_for @education do |f| %>
  <%= f.input :university, as: :select, collection: Education::UNIVERSITIES %>
  <%= f.input :degree %>
  <%= f.input :field_study %>
  <%= f.input :graduation_year %>
  <%= f.submit %>
<% end %>
