<!DOCTYPE html>
<html>
  <head>
    <title>Cheddar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= favicon_link_tag asset_path("cheddar_logo.png") %>
  </head>

  <body>

    <div id="page-container">
      <div id="content-wrap">
            <%= render "shared/navbar" %>
            <%= render "shared/flashes" %>

            <%= yield %>
      </div>
    </div>
    <%= render "pages/footer" %>
  </body>
</html>
